<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>画像投稿場所</h1>
    <form method="post" id="myform" enctype="multipart/form-data">
        {%csrf_token%}
        <div>
            <label for="file">アップロードする画像を選択してください</label>
            <input type="file" id="file" name="image" accept="image/png, image/jpeg" />
        </div>
        <div>
            <button>送信</button>
        </div>
    </form>
</body>

</html>