@media screen and (max-width: 600px) {
  .quiz_card {
    background: #d9d9d9;
    border-radius: 8px;
    padding: 24px;
    word-break: break-all;
    margin: 20px 20px;
    min-height: "100px";
  }
}
@media screen and (min-width: 601px) {
  .quiz_card {
    background: #d9d9d9;
    border-radius: 8px;
    padding: 24px;
    word-break: break-all;
    margin: 20px 20px;
    min-height: "100px";

    width: 70%;

    margin: 10px auto;
  }
}
