@media screen and (max-width: 600px) {
  .user_card {
    background: #d9d9d9;
    border-radius: 8px;
    padding: 24px;
    position: relative;
    word-break: break-all;
    margin: 20px 20px;
  }

  .transaction_card {
    background: #d9d9d9;
    border-radius: 8px;
    padding: 24px;
    position: relative;
    word-break: break-all;
    margin: 20px 20px;
  }

  .transfer {
    display: flex;
    align-items: center;
    /* 縦方向に中央揃え */
    justify-content: center;
    /* 横方向に中央揃え */
  }
}

@media screen and (min-width: 601px) {
  .user_card {
    background: #d9d9d9;
    border-radius: 8px;
    padding: 24px;
    position: relative;
    word-break: break-all;
    margin: 20px 20px;
    width: 50%;
    margin: 10px auto;
  }

  .transaction_card {
    background: #d9d9d9;
    border-radius: 8px;
    padding: 24px;
    position: relative;
    word-break: break-all;
    margin: 20px 20px;
    width: 50%;
    margin: 10px auto;
  }

  .transfer {
    display: flex;
    align-items: center;
    /* 縦方向に中央揃え */
    justify-content: center;
    /* 横方向に中央揃え */
  }
}
